#root {
  position: absolute;
  background-color: white;
  width: 100%;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  color: black;
}

.app {
  position: absolute;
  background-color: white;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: auto;
}

.unusedLandCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.landCard {
  box-sizing: border-box;
  border: solid black 1px;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  width: 22rem;
  justify-content: space-between;
}

.landCard__half {
  box-sizing: border-box;
  border: solid black 1px;
  background-color: lightblue;
}
